apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {}
    http {
        server {
            listen 80;
            location / {
                root /var/www/frontend;
                index index.html;
            }
            location /api/ {
                proxy_pass http://gateway:5000/;
            }
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: hyunhojang/frontend:v1
        ports:
        - containerPort: 80
        volumeMounts:
        - name: config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: config
        configMap:
          name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: NodePort # 외부에서 8080 등으로 접속하기 위해 설정
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080 # 실제 외부 접속 포트
  selector:
    app: nginx